---
- name: Base Cluster Configuration
  hosts: all
  become: yes
  
  tasks:
    - name: Deploy netplan configuration for the data network
      copy:
        dest: /etc/netplan/51-backend.yaml
        owner: root
        group: root
        mode: '0600'
        content: |
          network:
            version: 2
            ethernets:
              ens6:
                dhcp4: true
                dhcp4-overrides:
                  use-routes: false
      notify: Apply netplan

    - name: Set system hostname to match Ansible inventory name
      hostname:
        name: "{{ '{{ inventory_hostname }}' }}"

    - name: Update /etc/hosts to resolve the new hostname locally
      lineinfile:
        path: /etc/hosts
        regexp: '^127\.0\.1\.1'
        line: "127.0.1.1 {{ '{{ inventory_hostname }}' }}"
        state: present

    - name: Ensure AWS cloud-init does not reset the hostname on reboot
      lineinfile:
        path: /etc/cloud/cloud.cfg
        regexp: '^preserve_hostname:.*'
        line: 'preserve_hostname: true'
        state: present

  handlers:
    - name: Apply netplan
      command: netplan apply

- hosts: head_node
  become: yes
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install common utilities
      apt:
        name:
          - net-tools
          - nfs-kernel-server
          - lsscsi
        state: present

    - name: Copy SSH compute key
      ansible.builtin.copy:
        src:  {{ tf.AWS_SSH_PRIV_KEY }} 
        dest: /home/ubuntu/.ssh/
        owner: ubuntu 
        group: ubuntu
        mode: '0600'

    - name: Configure SSH client to use custom key
      blockinfile:
        path: /home/ubuntu/.ssh/config
        owner: ubuntu
        group: ubuntu
        mode: '0600'
        create: yes
        marker: "# {mark} ANSIBLE MANAGED BLOCK - CLUSTER SSH CONFIG"
        block: |
          Host 172.31.* compute-node-*
            User ubuntu
            IdentityFile ~/.ssh/{{ tf.AWS_SSH_PRIV_KEY | basename }}
            StrictHostKeyChecking no

    - name: Add compute node IP mappings to head node /etc/hosts
      blockinfile:
        path: /etc/hosts
        marker: "# {mark} ANSIBLE MANAGED BLOCK - COMPUTE NODES"
        content: |
          {{ "{% for host in groups['compute_nodes'] %}" }}
          {{ "{{ hostvars[host]['ansible_host'] }} {{ host }}" }}
          {{ "{% endfor %}" }}

    - name: Create shared HPC directory
      file:
        path: /mnt/hpc-shared
        state: directory
        owner: nobody
        group: nogroup
        mode: '0755'

#    - name: Configure NFS export for the AWS VPC subnet
#      lineinfile:
#        path: /etc/exports
#        line: "/mnt/hpc-shared 0.0.0.0/16(rw,sync,no_subtree_check,no_root_squash)"
#      notify: Restart nfs server
